.navbar-brand {
 padding: 0px;
}

html, body {
 height: 100%;
 width: 100%;
}
.navbar-brand>img {
 height: 100%;
 padding: 15px;
 width: auto;
}
body {
 padding-top: 50px;
}
.footer
{font-size: 20px;
 color: black}
.text-vcenter {
 display: table-cell;
 text-align: center;
 vertical-align: middle;
}
.text-vcenter h1 {
 font-size: 4.5em;
  font-weight: 700;
 margin: 0;
 padding: 0;
}
.text-white
{
 color: #fff;
}
#image {
 background: url("../img/img.jpg") no-repeat center center fixed;
 display: table;
 height: 100%;
 position: relative;
 width: 100%;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}
 #cora {  color: red;  }
.brand-logo{margin-left: 1%;}

.footer-distributed {
 background-color: #2f4154;
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 box-sizing: border-box;
 width: 100%;
 text-align: left;
 font: normal 16px sans-serif;
 padding: 45px 50px;
}
.footer-distributed .footer-right {
 float: right;
 max-width: 180px;
}
