<footer class="footer-distributed">

    <div class="footer-right">
        <a href="https://github.com/CrisPj/Proyecto2/tree/bootstrap"><i class="fa fa-github fa-3x"></i></a>
    </div>

    <div class="footer-left">
        <p>Cristian Pérez Juárez &copy 2016</p>
    </div>

</footer>