<footer class="page-footer blue">
    <div class="footer-copyright">
        <div class="container">
            <strong>Vuelazos</strong> hecho con <i class="fa fa-lg fa-heart" id="cora"></i> por Cristian Pérez
            <a class="grey-text text-lighten-4" href="http://crispj.github.io"><i class="fa fa-2x fa-github" id="github"></i></a>
        </div>
    </div>
</footer>

