<footer class="footer">
        <div class="container text-vcenter">
            <strong>Vuelazos</strong> hecho con <i class="fa fa-lg fa-heart" id="cora"></i> por Cristian Pérez
            <a href="http://crispj.github.io"><i class="fa fa-2x fa-github" id="github"></i></a>
        </div>
</footer>

