{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hotels list</h1>

    <table>
        <thead>
            <tr>
                <th>Hotel</th>
                <th>Idhotel</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel in hotels %}
            <tr>
                <td><a href="{{ path('hotel_show', { 'id': hotel.idHotel }) }}">{{ hotel.hotel }}</a></td>
                <td>{{ hotel.idHotel }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('hotel_show', { 'id': hotel.idHotel }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
