{% extends 'base.html.twig' %}

{% block body %}
<p>{{ total }}</p>
    <label for="ticket">Ticket</label>
    <input id="ticket" type="text">

    -----

    <p>Gran total = <span id="total">{{ total }}</span></p>
{% endblock %}


