{% extends 'Proyecto2Bundle:Default:form.html.twig' %}
{% block more %}
    <div class="row">
        <div class="form-group col-xs-6">
            <label for="hotel">Hotel</label>
            <select id="hotel" name="hotel" class="form-control select select-primary select-block mbl">
            </select>
        </div>
        <div class="form-group col-xs-6">
            <label for="cantidad"># Personas</label>
            <input type="number" id="cantidad" class="form-control">
        </div>
    </div>
{% endblock %}

