    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Busqueda de Vuelos</h3>
        </div>
        <div class="panel-body">
            <form action="{{ path('busqueda_vuelo') }}"  method="post" id="formulario">
                <div class="row">
                    <div class="col-xs-6">
                        <label for="fecha">Fecha</label>
                        <input type="date" class="form-control" id="fecha" name="fecha" title="Fecha">
                    </div>
                    <div class="col-xs-6">
                        <label for="timepicker">Hora</label>
                        <input id="timepicker" class="form-control" name="hora" type="time">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="form-group">
                            <label for="autocomplete-origen">Ciudad Origen</label>
                            <select id="autocomplete-origen" class="form-control select select-primary select-block mbl" name="origen">
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 form-group">
                        <label for="autocomplete-destino">Ciudad Destino</label>
                        <select id="autocomplete-destino" onchange="getval(this);" class="form-control select select-primary select-block mbl" name="destino" >
                            </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <label for="clase">Tipo</label>
                        <select id="clase" name="clase" class="form-control select select-primary select-block mbl">
                        </select>
                    </div>
                </div>
                {% block more %}{% endblock %}
                <button class="btn waves-effect waves-light blue lighten-1" type="submit" name="action">Buscar
                </button>
            </form>

        </div>
    </div>
