<table id="example" class="display" width="100%" cellspacing="0">
    <thead>
    <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Origen</th>
        <th>Destino</th>
        <th>Tipo</th>
        <th>Reservar</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Origen</th>
        <th>Destino</th>
        <th>Tipo</th>
        <th>Reservar</th>
    </tr>
    </tfoot>
</table>